DISCORD_TOKEN=default_token_here
MONGO_URI=mongodb://localhost:27017/

STEAM_API_KEY=steam_api_key_here

# ID роли, которую должны иметь участники, чтобы бот их отслеживал и давал опыт
CLAN_ROLE_ID=111111111111111111

# ID ролей администраторов (указывать через запятую без пробелов)
ADMIN_ROLE_IDS=222222222222222222,333333333333333333